@model RandApp.DTOs.ItemDto

<h4>Update Item</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateItem">
            <input asp-for="Id" hidden />
            <div class="form-group">
                <label asp-for="@Model.ItemPhoto" class="control-label"></label>
                <img src="~/assets/@Model.ItemPhoto" style="width:230px; height:300px; object-fit:cover" class="form-control" />
                <input asp-for="@Model.ItemPhoto" hidden />
                <span asp-validation-for="@Model.ItemPhoto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Name" class="control-label"></label>
                <input asp-for="@Model.Name" class="form-control" />
                <span asp-validation-for="@Model.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.DesignedFor" class="control-label"></label>
                <select asp-for="@Model.DesignedFor" class="form-control">
                    @foreach (var desigendFor in Enum.GetValues(typeof(RandApp.Enums.DesignedFor)))
                    {
                        <option val="@desigendFor" value="@desigendFor.ToString()">@desigendFor</option>
                    }
                </select>
                <span asp-validation-for="@Model.DesignedFor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.ItemCategory" class="control-label"></label>
                <select asp-for="@Model.ItemCategory" class="form-control">
                    <option>@Model.ItemCategory</option>
                </select>
                <span asp-validation-for="@Model.ItemCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.ItemType" class="control-label"></label>
                <select asp-for="@Model.ItemType" class="form-control">
                    <option>@Model.ItemType</option>
                </select>
                <span asp-validation-for="@Model.ItemType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.MaterialType" class="control-label"></label>
                <select asp-for="@Model.MaterialType" class="form-control">
                    <option value="" selected>Select Material Type</option>
                    @foreach (var materialType in Enum.GetValues(typeof(RandApp.Enums.MaterialType)))
                    {
                        <option value="@materialType.ToString()">@materialType</option>
                    }
                    <option value="Other">Other</option>
                </select>
                <input id="otherMaterialInp" asp-for="@Model.MaterialType" class="form-control" style="display:none; margin-top:8px" placeholder="Enter Material Type" />
                <span asp-validation-for="@Model.MaterialType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Color" class="control-label"></label>
                <select asp-for="@Model.Color" class="form-control">
                    @foreach (var color in Enum.GetValues(typeof(RandApp.Enums.ItemColor)))
                    {
                        <option value="@color">@color</option>
                    }
                    <option value="Other">Other</option>
                </select>
                <!-- This hidden select is used to get only selected colors of current item -->
                <select hidden multiple class="form-control" id="SelectedColors">
                    @foreach (var color in Model.Color)
                    {
                        <option value="@color.ItemColor">@color.ItemColor</option>
                    }
                </select>
                <span asp-validation-for="@Model.Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Size" class="control-label"></label>
                <select asp-for="@Model.Size" class="form-control">
                </select>
                <!-- This hidden select is used to get only selected sizes of current item -->
                <select hidden multiple class="form-control" id="SelectedSizes">
                    @foreach (var size in Model.Size)
                    {
                        <option value="@size.ItemSize">@size.ItemSize</option>
                    }
                </select>
                <span asp-validation-for="@Model.Size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Price" class="control-label"></label>
                <input asp-for="@Model.Price" class="form-control" />
                <span asp-validation-for="@Model.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Description" class="control-label"></label>
                <textarea asp-for="@Model.Description" class="form-control"></textarea>
                <span asp-validation-for="@Model.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
                <a asp-controller="Admin" asp-action="Index" class="btn btn-primary">Go Back</a>
            </div>
        </form>
    </div>
</div>
@section Scripts
{
    <script>
        var selectedItemTypeVal = $("#ItemType").val();
        var selectedDesignedVal = $("#DesignedFor").val();
        var selectedCategoryVal = $("#ItemCategory").val();
        var itemColors = new Array();
        var itemSizes = new Array();
        $(document).ready(function () {
            if ($("#DesignedFor").val() != "") {
                $.ajax({
                    url: '@Url.Action("LoadItemCategories","Admin")',
                    type: 'GET',
                    dataType: 'json',
                    data: { designedFor: selectedDesignedVal },
                    success: function (res) {
                        $('#ItemCategory').html('');
                        $.each(res, function (val, text) {
                            $('#ItemCategory').append(
                                $('<option></option>').val(text).html(text)
                            );
                        });
                    },
                    error: function (err) {
                        console.log(err.responseText);
                    }
                });
            }

            if ($("#ItemCategory").val() != "") {
                $.ajax({
                    url: '@Url.Action("LoadItemTypes", "Admin")',
                    type: 'GET',
                    dataType: 'json',
                    data: { designedFor: selectedDesignedVal, category: selectedCategoryVal },
                    success: function (res) {
                        $('#ItemType').html('');
                        $.each(res, function (val, text) {
                            $('#ItemType').append(
                                $('<option></option>').val(text).html(text)
                            );
                        });
                    },
                    error: function (err) {
                        console.log(err.responseText);
                    }
                });
            }

            if ($("#ItemType").val() != "") {
                if (selectedCategoryVal.toLowerCase() == "clothing" || selectedCategoryVal.toLowerCase() == "shoes") {
                    $.ajax({
                        url: '@Url.Action("LoadItemSize", "Admin")',
                        type: 'GET',
                        dataType: 'json',
                        data: { designedFor: selectedDesignedVal, category: selectedCategoryVal },
                        success: function (res) {
                            $.each(res, function (val, text) {
                                $('#Size').append(
                                    $('<option></option>').val(text).html(text)
                                );
                                itemSizes.push(text);
                            });
                            $("#SelectedSizes option").each(function () {
                                for (var i = 0; i < itemSizes.length; i++) {
                                    if ($(this).val() == itemSizes[i]) {
                                        $("[value=" + itemSizes[i] + "]").attr("selected", "selected");
                                    }
                                }
                            });
                        },
                        error: function (err) {
                            console.log(err.responseText);
                        }
                    });
                } else {
                    $.ajax({
                        url: '@Url.Action("LoadItemSizes", "Admin")',
                        type: 'GET',
                        dataType: 'json',
                        data: { designedFor: selectedDesignedVal, category: selectedCategoryVal, itemType: selectedItemTypeVal },
                        success: function (res) {
                            $.each(res, function (val, text) {
                                // This "1" means "SingleSize" enum value
                                if (text == 1) {
                                    $('#Size').append(
                                        $('<option></option>').val(text).html("Single Size")
                                    );
                                } else {
                                    $('#Size').append(
                                        $('<option></option>').val(text).html(text + " CM")
                                    );
                                }
                            });
                        },
                        error: function (err) {
                            console.log(err.responseText);
                        }
                    });
                }
            }

            if ($("#Color option").val() != "") {
                $("#Color option").each(function () {
                    itemColors.push($(this).val());
                })
                $("#SelectedColors option").each(function () {
                    for (var i = 0; i < itemColors.length; i++) {
                        if ($(this).val() == itemColors[i]) {
                            $("[value=" + itemColors[i] + "]").attr("selected", "selected");
                        }
                    }
                });
            }
        });

        function SetValue(input) {
            var fileName = input.files[0].name;
            //asp-for will generate the id and name
            //so you can get the selector by using $("#ItemPhoto")
            $("#ItemPhoto").val(fileName);
        };

        // displays "other option" input in order to enter custom material type
        // if desired is not given in the list
        $('#MaterialType').on('change', function () {
            var selectedMaterialTypeVal = $(this).val();
            if (selectedMaterialTypeVal.toLowerCase() == "other") {
                $('#MaterialType').attr('disabled', 'disabled');
                $('#otherMaterialInp').show();
            } else {
                $('#MaterialType').removeAttr('disabled');
                $('#otherMaterialInp').hide();
            }
        });
    </script>
}
