@model IEnumerable<RandApp.Models.Item>
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = "Main";
}

<section class="bg-light p-5 text-dark text-center text-sm-left mb-5">
    <div class="container">
        <div class="d-flex align-items-center justify-content-between">
            <div>
                <h1>ANZA</h1>
                <p class="lead my-4">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
                    dummy text ever since the 1500s.
                </p>
                <a href="#item-section" class="btn btn-primary btn-lg">Start Shopping</a>
            </div>
            <img class="img-fluid d-none d-sm-block w-50" src="~/assets/RandLogo.png" />
        </div>
    </div>
</section>
<section id="item-section">
    <div class="container">
        <div class="row d-flex justify-content-around">
            @foreach (var item in Model)
            {
                <div class="col-md-3 py-4 w-auto" style="max-width:none">
                    <div class="card">
                        <img src="~/assets/@item.ItemPhoto" class="card-img-top" alt="@item.Name">
                        <div class="card-body text-center p-3">
                            <h5 class="card-title">@item.Name</h5>
                            <p class="card-text">@item.Price ₾</p>
                        </div>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <a asp-controller="Item" asp-action="Details" asp-route-name="@item.Name" asp-route-Id="@item.Id" class="btn btn-dark btn-view">View</a>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</section>

@section Styles {
    <style>
        .card {
            width: 18rem;
            height: 100%;
            transition: 0.3s;
        }

            .card:hover {
                opacity: 0.9;
                cursor: pointer;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            }

                .card:hover .btn-view {
                    display: block;
                }

        .card-img-top {
            height: 280px;
            object-fit: cover;
        }

        .btn-view {
            display: none;
            width: 40%;
            position: absolute;
            top: 35%;
            left: 30%;
            padding: 8px;
            background: black;
        }
    </style>
}

